.hero-wrapper{
   color: white;
   background-color: black;
    position: relative;
    padding-bottom: 2 rem;
}
.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}
.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255,255,255,0.12);
}
.image-container>img{
    width: 100%;
    height: 100%;
}
.hero-title{
    position: relative;
    z-index: 1;
}
.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}
.orange-circle{
    height: 4rem;
    width: 4rem;
    background-color: orange;
    border-radius: 999px;
    position: absolute;
    right: 28%;
    top: -10%;
    z-index: -1;
}
.search{
    margin-top: 10px;
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(255,255,255,0.12);
    padding: 0.5rem 1rem;
    justify-content: space-between;
    width: 100%;
}
.search>input{
    border: none;
    outline: none;
}
.stats{
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
}
.stat>:nth-child(1)>:last-child{
    color: orange;
}